body {
    background: #f0efec;
}

p {
    margin: 0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #d3d3d3;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #d3d3d3;
}


/*------------------------------    鍏叡 鍥炬爣棰滆壊  -------------------------------*/

.icon-yue {
    color: #84bcf9
}

.icon-zhifubao {
    color: #00aaee
}

.icon-weixin {
    color: #06c1ae
}

.icon-dian {
    font-size: 2.5rem;
    margin-top: 5px;
}


/*------------------------------    鍏叡 鏍囩  -------------------------------*/

.am-navbar-nav i {
    font-size: 2rem;
    padding-top: 8px;
}


/*------------------------------    鍏叡 绠ご  -------------------------------*/

.icon-fanhuijiantou1 {
    font-size: 1em;
    color: #fff;
    font-weight: normal;
}


/*------------------------------    鍏叡 椤靛ご瀛椾綋  -------------------------------*/

.am-header-default .am-header-title {
    font-size: 16px;
    margin: 0 10%;
    color: #fff
}


/*------------------------------    棣栭〉 椤靛ご  -------------------------------*/

.zhuye-title {
    background-color: #d74d2d;
}

.icon-xiaoxi {
    position: relative;
    font-size: 2.2rem;
    color: #fff;
}

.am-header-right span {
    background: #ff0000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    right: -3px;
    border: 2px solid #fff;
}

.yhb-title,
.mi-title {
    background-color: #d74d2d;
    border-bottom: 1px solid #e5e5e5
}


/*------------------------------    璁㈠崟 棣栭〉  -------------------------------*/

.icon-daifukuan {
    color: #86c9ff
}

.icon-daishiyong {
    color: #ff8692
}

.icon-daipingjia {
    color: #f0de44
}

.icon-tui {
    color: #9a86ff
}

.am-u-sm-3 i {
    font-size: 3rem;
    position: relative;
}

.am-u-sm-3 span {
    position: absolute;
    top: -2px;
    right: 10px;
    background: #ff3f00;
    color: #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    line-height: 22px;
    text-align: center;
    border: 2px solid #fff;
}


/*------------------------------    鎴戠殑  椤甸潰 -------------------------------*/

.doc-group span {
    color: #a3a3a3;
    text-align: right;
    float: right;
    margin-right: 5px;
    width: 40%;
    font-size: 1.2rem;
}

.left {
    float: left;
    margin-right: 10px;
    font-size: 2.2rem;
}
.icon-daipingjia,
.icon-chongzhi,
.icon-shoucang {
    color: #fbb111;
}

.icon-shangcheng,
.icon-jifenshuoming,
.icon-duihuan {
    color: #66b5ff;
}

.icon-zhanghuyuanquan,
.icon-xiugaimima,
.icon-shengri,
.icon-shouhuodizhi {
    color: #8ccaff;
}

.icon-xinren,
.icon-kefu,
.icon-hezuo {
    color: #84d54d;
}

.icon-jiazu,
.icon-chengyuan,
.icon-zhuanxiang {
    color: #FF9966;
}

.doc-group .icon-fanhuijiantou {
    float: right;
    font-size: 1rem;
    margin-right: 10px;
    color: #a3a3a3
}


/*------------------------------    浜岀骇  椤甸潰 杞挱鍥�  -------------------------------*/

.am-slider-a1 .am-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    line-height: 0;
}

.am-slider-a1 .am-control-nav li a {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid #fff;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
}

.am-slider-a1 .am-control-nav li {
    margin: 0 4px;
    display: inline-block;
}

.am-slider-a1 .am-control-nav li a.am-active {
    background-color: #84bcf9;
    cursor: default;
    border: 1px solid #84bcf9;
}

.zanwu {
    font-size: 16px;
    text-align: center;
    margin-top: 6em;
    width: 100%;
    color: gray;
}


/*------------------------------    澶村儚  -------------------------------*/

.am-img-thumbnail {
    border: 1px solid #fb7455;
    width: 74px;
    height: 74px;
    border-radius: 50%;
}

.am-btn:hover,.am-btn:active, .am-btn:focus{ 
    color: white;
}
