<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Insert title here</title>
    <script src="js/include.js"></script>
    <link href="icon/iconfont.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link>
    <link href="css/star-rating.css" media="all" rel="stylesheet" type="text/css">
    <style type="text/css">
    .am-header .am-header-title {
        margin: 0 15%;
    }
    
    .item {
        margin-top: 1em;
        width: 100%;
    }
    
    .small {
        font-size: 1em;
        padding-left: 1.5em;
        color: #7a7a7a;
        line-height: 2em;
    }
    
    .margin {
        margin: 0em;
    }
    
    .am-navbar-nav i {
        font-size: 2rem;
        padding-top: 8px;
    }
    
    .am-u-sm-3 p {
        font-size: 1.5rem;
        color: #666666;
        margin: 0;
        padding-bottom: 2rem
    }
    
    .status-button {
        height: 2.5em;
        width: 100%;
        border-radius: 4px;
        border-color: orange;
        border: 2px solid orange;
        line-height: 2.5em;
        color: orange;
        text-align: center;
        margin: 3em 0;
    }
    
    .status-orderAll {
        color: blue;
        text-align: right;
    }
    </style>
</head>

<body>
    <header data-am-widget="header" class="am-header am-header-default am-header-fixed yhb-title">
        <h1 class="am-header-title">订单</h1>
    </header>
    <div class="doc-group" style="background-color: white;">
        <div id="p" style="height:3em;font-size:1.8rem;border-bottom:1px solid #e5e5e5;line-height:3em;color: black" onclick="goToOrderAll(0)">&nbsp;&nbsp;我的订单
            <i class="iconfont icon-fanhuijiantou" style="text-align: right; float:right;font-size: 0.8em;margin-right: 8px; color: #c6c6c6;font-weight: bold;"></i>
            <span style="text-align:right;float: right;margin-right: 8px;width:40%;color:#72777a;font-size:1.6rem;">全部订单</span>
        </div>
    </div>
    <div class="am-u-sm-12" style="padding-top:1em;background:#fff;border-bottom:1px solid #e5e5e5;">
        <div class="am-u-sm-3" align="center" style="float: left;padding: 0;" onclick="goToOrderAll(1)">
            <i class="iconfont icon-daifukuan"></i>
            <p>待付款</p>
            <span id="daifukuan" hidden></span>
        </div>
        <div class="am-u-sm-3" align="center" style="float: left;padding: 0;" onclick="goToOrderAll(2)">
            <i class="iconfont icon-daishiyong"></i>
            <p>待使用</p>
            <span id="daishiyong" hidden></span>
        </div>
        <div class="am-u-sm-3" align="center" style="float: left;padding: 0;" onclick="goToOrderAll(3)">
            <i class="iconfont icon-daipingjia"></i>
            <p>待评价</p>
            <span id="daipingjia" hidden></span>
        </div>
        <div class="am-u-sm-3" align="center" style="float: left;padding: 0;" onclick="">
            <i class="iconfont icon-tui"></i>
            <p>退款/售后</p>
        </div>
    </div>
    <div class="am-g" id="d_order_list" style="padding: 10px; margin-top: 5em">
    </div>
    <script type="text/html" id="s_order_list">
        {{if wodequanbuList.length >0}} {{each wodequanbuList as val i}}
        <div class="am-g" onclick="goToOrder('{{val.dingdanID}}','{{val.goodsID}}','{{val.dingdanzhuangtai}}')" style="background-color: white;border-bottom:1px solid #e5e5e4;">
            <div class="am-u-sm-3" style="height:10rem;padding: 1px">
                <img style="width:100%;border:none;margin: 1em 0;" src="{{imgurl+val.tupiandizhi}}">
            </div>
            <div class="am-u-sm-9" style="padding: 0">
                <div class="am-u-sm-8" style="font-size: 0.8em; margin-top: 8px;padding: 0 0 0 2px">
                    <div style="color:#000;font-size: 1.3em; height: 1.5em;float:left;margin-bottom:5px;margin-top:8px">{{val.shangpinming}}</div>
                    <div style="line-height: 1em;clear: both;margin-bottom:5px">
                        <div style="font-size: 1em;color:#999999;">下单日期 : {{val.xiadanriqi}}</div>
                        <br>
                        <div style="font-size: 1em;color:#999999;"> 数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量 : {{val.shangpingshuliang}}</div>
                        <br>
                        <div style="font-size: 1em;color:#999999;">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价 : ￥ {{val.zongjia}}</div>
                    </div>
                </div>
                <div class="am-u-sm-4" style="font-size: 0.8em;padding: 10px 0;margin-bottom:10px;padding-right: 10px;height: 8em;">
                    <div class="status-orderAll">{{if val.dingdanzhuangtai == "daifukuan"}}代付款{{/if}}{{if val.dingdanzhuangtai == "daipingjia"}}待评价{{/if}}{{if val.dingdanzhuangtai == "daishiyong"}}待使用{{/if}}{{if val.dingdanzhuangtai == "yipingjia"}}已评价{{/if}}</div>
                    <div onclick="goToSomthing('{{val.shanghuID}}','{{val.dingdanzhuangtai}}','{{val.dingdanID}}','{{val.goodsID}}')" class="status-button">
                        {{if val.dingdanzhuangtai == "daifukuan"}}去付款{{/if}}{{if val.dingdanzhuangtai == "daipingjia"}}去评价{{/if}}{{if val.dingdanzhuangtai == "daishiyong"}}查看券码{{/if}}{{if val.dingdanzhuangtai == "yipingjia"}}已评价{{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}} 
        {{else}}
        <div class="zanwu">暂无订单</div>
        {{/if}}
    </script>
    <header id="hid2" class="am-topbar am-topbar-inverse am-topbar-fixed-bottom " style="border-top:1px #dfdfdf solid;  background-color:#dfdfdf">
        <div data-am-widget="navbar" class="am-navbar  am-navbar-default ">
            <ul class="am-navbar-nav am-cf am-avg-sm-4" style="background-color: #f5f3f4;">
                <li>
                    <a href="main.html" class="">
                        <i class="iconfont icon-shouye" style="color:#b5b3ac"></i>
                        <span class="am-navbar-label" style="color:#b5b3ac;font-size: 12px;margin-top: 0.1em">首页</span>
                    </a>
                </li>
                <li>
                    <a href="nearby.html" class="">
                        <i class="iconfont icon-fujindingwei" style="color:#b5b3ac"></i>
                        <span class="am-navbar-label" style="color:#b5b3ac;font-size: 12px;margin-top: 0.1em">附近</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="">
                        <i class="iconfont icon-dingdan-fill" style="color:#4384c6"></i>
                        <span class="am-navbar-label" style="color:#4384c6;font-size: 12px;margin-top: 0.1em">订单</span>
                    </a>
                </li>
                <li>
                    <a href="myinfo.html" class="">
                        <i class="iconfont icon-wode" style="color:#b5b3ac"></i>
                        <span class="am-navbar-label" style="color:#b5b3ac;font-size: 12px; margin-top: 0.1em">我的</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
            <div class="am-modal-dialog">
                <div class="am-modal-hd"></div>
                <div class="am-modal-bd">
                    <a id="errmsg"></a>
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn">确定</span>
                </div>
            </div>
        </div>
    </header>
    <script type="text/javascript">
    var token = localStorage.getItem("token");
    var userid = localStorage.getItem("userid");
    jQuery(document).ready(function() {
        loadData();
    });

    function goToOrderAll(pageID) {
        window.location.href = "orderAll.html?pageID=" + pageID;
    }


    function loadData() {
        $.ajax({
            type: "post ",
            url: baseurl("APPMyDE.do"),
            dataType: "jsonp",
            jsonp: "callback",
            jsonpCallback: "old",
            data: {
                yonghuID: userid,
                token: token
            },
            success: function(json) {
                if (!checktoken(json)) {
                    return;
                }
                if (json.success) {

                    json.imgurl = imgurl;
                    var html = template('s_order_list', json);
                    $("#d_order_list").html(html);
                    if (json.daifukuannumber != 0) {
                        $("#daifukuan").attr("hidden", false);
                        $("#daifukuan").html(json.daifukuannumber);
                    }
                    if (json.daishiyongnumber != 0) {
                        $("#daishiyong").attr("hidden", false);
                        $("#daishiyong").html(json.daishiyongnumber);
                    }

                    if (json.daipingjianumber != 0) {
                        $("#daipingjia").attr("hidden", false);
                        $("#daipingjia").html(json.daipingjianumber);
                    }




                } else {
                    $('#errmsg').text(json.message);
                    $('#my-alert').modal();

                }
            },
            error: function() {
                $('#errmsg').text("网络通讯错误,请稍后重试 ");
                $('#my-alert').modal();

            }
        });
    }

    function goToSomthing(shanghuID,status, dingdanID, goodsID, e) {
        if (status == "daishiyong") {
            goToUse(dingdanID, goodsID);

        } else if (status == "daipingjia") {
            goToComment(shanghuID,dingdanID, goodsID);

        } else if (status == "daifukuan") {
            goToPay(dingdanID, goodsID);

        } else if (status == "yipingjia") {
            window.location.href = "mycomment.html";
        }
        stopBubble(e)
    }

    function stopBubble(e) {
        var evt = e || window.event;
        evt.stopPropagation ? evt.stopPropagation() : (evt.cancelBubble = true);
    }

    function goToOrder(dingdanID, goodsID,orderStatus, e) {
        if (orderStatus == "daifukuan") {
            goToPay(dingdanID,goodsID);
        }else{
        window.location.href = "goodsOrderDetail.html?dingdanID=" + dingdanID + "&goodsID=" + goodsID;    
        }
        
        stopBubble(e)
    }

    function goToUse(dingdanID, goodsID, e) {

        window.location.href = "groupTicket.html?dingdanID=" + dingdanID + "&goodsID=" + goodsID;
        stopBubble(e)
    }

    function goToComment(shanghuID,dingdanID, goodsID, e) {
        window.location.href = "comment.html?dingdanID=" + dingdanID + "&goodsID=" + goodsID +"&shanghuID"+shanghuID;
        stopBubble(e)
    }

    function goToPay(dingdanID, goodsID, e) {
        window.location.href = "jiesuan.html?dingdanID=" + dingdanID + "&goodsID=" + goodsID;
        stopBubble(e)
    }
    </script>
</body>

</html>
